/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

*.swp
*.bundle
tags
.DS_Store
.ruby-version
iterate.dat
/spec/dump_dbl.t
/spec/dump_int.t
/spec/dump_mult_dbl.t
/spec/dump_zb.t

# ignore dynamic library file
/lib/rumale/rumaleext.so

# coverage file
/coverage