---
language: ruby
cache: bundler
rvm:
  - '2.4'
  - '2.5'
  - '2.6'
  - '2.7'

addons:
  apt:
    packages:
      - libopenblas-dev
      - liblapacke-dev

before_install:
  - gem install bundler -v 2.1.4
