name: build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '2.5', '2.6', '2.7', '3.0' ]
    steps:
      - uses: actions/checkout@v2
      - name: Install BLAS and LAPACK
        run: sudo apt-get install -y libopenblas-dev liblapacke-dev
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Build and test with Rake
        env:
          LD_LIBRARY_PATH: '/usr/lib/x86_64-linux-gnu/'
        run: |
          gem install --no-document bundler
          bundle install --jobs 4 --retry 3
          bundle exec rake
