name: build

on:
  push:
    branches:
      - main
      - dev*
      - v[0-9]+.[0-9]+.[0-9]+
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Ruby ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby: [ '3.0', '3.1', '3.2', '3.3' ]
    steps:
      - uses: actions/checkout@v4
      - name: Install BLAS and LAPACK
        run: sudo apt-get install -y libopenblas-dev liblapacke-dev
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Build and test with Rake
        run: bash rumale-test.sh

  build-win:
    runs-on: windows-latest
    name: Ruby 3.2 (Windows)
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby 3.2
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true
      - name: Install BLAS and LAPACK
        run: pacman -S --noconfirm mingw-w64-ucrt-x86_64-openblas mingw-w64-ucrt-x86_64-lapack
      - name: Build and test with Rake
        run: |
          bundle config --local build.numo-tiny_linalg "--with-opt-lib=C:\msys64\ucrt64\lib --with-opt-include=C:\msys64\ucrt64\include\openblas"
          bash rumale-test.sh

  build-mac:
    runs-on: macos-latest
    name: Ruby 3.2 (macOS)
    steps:
    - uses: actions/checkout@v4
    - name: Install OpenBLAS
      run: |
        brew update
        brew install openblas
        brew info openblas
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.2
        bundler-cache: true
    - name: Build and test with Rake
      run: |
        bundle config --local build.numo-tiny_linalg "--with-opt-dir=/usr/local/opt/openblas"
        bash rumale-test.sh
